body {
  width: 100vw;
  height: 100vh;
}

.quadro-principal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.quadro-principal > h1 {
  color: rgb(130, 0, 255);
}

input[type='text'] {
  width: 80%;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  text-align: center;
  height: 30px;
}

.line-form {
  margin-top: 15px;
  border: 1px solid #c3c3c3;
  width: 80%;
}

.lista-adicionados {
  display: flex;
  justify-content: space-between;
  justify-items: center;

  margin-left: 10%;
  margin-right: 10%;
  height: 100vh;
}

.letra-title {
  font-size: 25px;
  font-family: Fira Code;
  font-weight: bold;
  margin-top: 10%;

  text-align: center;
}

#submit-name {
  width: 80.5%;
  height: 35px;
  border-radius: 3px;

  border: 1px solid white;
  margin-top: 15px;

  font-family: Fira Code;

  background-color: rgba(38, 48, 34, 0.7);

  cursor: pointer;
  color: #ffffff;
}

.display-results-search {
  width: 100%;
}

.img-profile {
  border-radius: 50%;
}

li {
  list-style: none;

  display: flex;
  justify-items: center;

  margin-top: 8%;

  border: 1px solid white;

  padding: 10%;
}

p {
  margin-left: 5%;
}

.align {
  text-align: center;
}
